body
{
	background-color: #000000;
}

h1
{
	color: #cccccc;
}

h2
{
	color: #cccccc;
}

p
{
	color: #cccccc;
}

.warning-text
{
	color: #cccc00;
	font-style: italic;
	font-weight: bold;
}

.error-text
{
	color: #ff0000;
	font-style: italic;
	font-weight: bold;
}

.loading-message
{
	color: #cccc00;
	font-style: italic;
	font-weight: bold;
}

.loading-message::after
{
	display: inline-block;
	animation: dynamicElipsisAnimation steps(1,end) 2s infinite;
	content: '';
}

@keyframes dynamicElipsisAnimation
{
	0%		{ content: '';		}
	25%		{ content: '.';		}
	50%		{ content: '..';	}
	75%		{ content: '...';	}
	100%	{ content: '';		}
}

label
{
	color: #cccccc;
}

li
{
	color: #cccccc;
}

th
{
	text-align: center;
	color: #cccccc;
	background-color: #333333;
	padding: 10px;
}

td
{
	text-align: center;
	color: #cccccc;
	padding: 10px;
}

a:link
{
	color: gray;
}

a:visited
{
	color: gray;
}

a:hover
{
	color: gray;
}

a:active
{
	color: gray;
}
