.map-checkbox-section-header
{
	color: #dddddd;
	font-weight: bold;
}

#InteractiveMapContainer
{
	display: flex;
	flex-direction: row;
	/*border: 2px solid #cccccc;*/
	margin: 2px;
}

#MapMarkerSelectionContainer
{
	/*width: stretch;*/
	margin: 5px;
	border: 2px solid #cccccc;
	border-radius: 5px;
	padding: 5px;
	flex-grow: 0;
	flex-shrink: 0;
}

#MapCanvasContainer
{
	display: flex;
	flex: 1 1 200px;
	margin: 5px;
	max-height: 90vh;
	max-width: 90vh;
	position: relative;
}

#BaseMapImage
{
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 5px;
	min-height: 5px;
	max-width: 100%;
	max-height: 100%;
}

.map-marker
{
	width: 25px;
	height: 25px;
	/* If the css transform has bad performance, we can do the following instead; we just have to manually keep the sizes and margins consistent. */
	/* margin-left: -10px; /* Cheap hack to help center things.  Half of the element size. */
	/* margin-top: -10px; /* Cheap hack to help center things.  Half of the element size. */
	transform: translate(-50%,-50%);
	/*background-color: #cccccc;*/
	position: absolute;
}

.marker-icon
{
	width: fit-content;
	height: fit-content;
	min-width: 5px;
	min-height: 5px;
	max-width: 100%;
	max-height: 100%;
}

.marker-point
{
	width: 5px;
	height: 5px;
	border-radius: 500px;
	background-color: #ff0000;
}